{% extends 'home/index.html' %} {% block title %} contact {% endblock title %} {% block contactactive %} active {% endblock contactactive %} 

{% block body %}      
<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container py-12 px-12 mx-auto">
    <div class="flex flex-wrap-m-12">
      <div class="p-6 flex flex-col items-start">
        <span class="inline-block py-1 px-2 rounded bg-green-800 text-white-400 text-opacity-85 text-s font-medium tracking-widest">{{ object.title }}</span>
        <h2 class="sm:text-3xl text-3xl title-font font-medium text-white mt-4 mb-4">{{ object.subtitle }}</h2>
        <p class="leading-relaxed text-white mb-8">{{ object.content }}</p>
        <h2 class="sm:text-3xl text-2xl title-font font-medium text-white mt-4 mb-4">{{ object.subtitle_2 }}</h2>
        <p class="leading-relaxed text-white mb-8">{{ object.content_2 }}</p>
        <h2 class="sm:text-3xl text-2xl title-font font-medium text-white mt-4 mb-4">{{ object.subtitle_3 }}</h2>
        <p class="leading-relaxed text-white mb-8">{{ object.content_3 }}</p>




        <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-800 border-opacity-75 mt-auto w-full">
          <a class="text-indigo-400 inline-flex items-center">{{object.timestamp}}
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <span class="text-gray-500 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
            <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>1.2K
          </span>
          <span class="text-gray-500 inline-flex items-center leading-none text-sm">
            <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
            </svg>6
          </span>
        </div>
       
      </div>
     
    </div>
  </div>
</section>

{% endblock body %}
