
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>{{ object.title }}</title>
</head>
<body>
    <div class="mx-4 my-5 btn-group" role="group" aria-label="Basic mixed styles example">
        <a href="{% url 'prashant:home' %}" type="button" class="btn btn-warning">Home</a>
      </div>
    <div class="container my-2">
        <div class="card-body">
          <p class="card-text">{% autoescape off %} {{ object.content }} {% endautoescape %}</p>
          <a href="{{ object.link }}" class="card-link">Post Link</a>
        </div>
      </div>
</body>
</html>

<!-- {% block body %}  

<section>
  <div class="container">
      <p></p>
    </div>
</section>

{% endblock body %} -->


